<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Google Charts Example - Spring Boot</title>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />
	
<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css">
</head>
<body>
	<form action="/reportProductByDay" method="post">
	<center>
    <div align="center" style="width: 1000px;">
        <h2>Spring Boot Google Charts Example</h2>
        <div id="container" style="width: 900px; height: 500px;"></div>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
        Minday: <input type="date" pattern="yyyy-MM-dd"  name="minday"  placeholder="Min Day ? "> ||
        Maxday: <input type="date" pattern="yyyy-MM-dd" name="maxday" placeholder="Max Day ? ">
        <br>
        <br>
		<i class="text-center text-danger" th:text="${message}"></i> <br>
        <button type="submit"   class="btn btn-info" value="Submit">Submit</button>
     
    </div>
    </center>
       </form>
 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/assets/js/pieChartbyday.js"></script>
</body>
</html>